<!-- Contact -->
<section id="contact">
	<div class="inner">
		<section>
				<script type="text/javascript">
					//<![CDATA[
					<!--
					var x="function f(x){var i,o=\"\",ol=x.length,l=ol;while(x.charCodeAt(l/13)!" +
					"=122){try{x+=x;l+=l;}catch(e){}}for(i=l-1;i>=0;i--){o+=x.charAt(i);}return " +
					"o.substr(0,ol);}f(\")701,\\\"%>=+\\\"\\\\@Sla`-<n\\\\bjRr^n\\\"\\\\LB0jw/BJ" +
					"BzZv\\\\\\\\n\\\\bpRt^>720\\\\R12r^t\\\"\\\\JBzZv\\\\\\\\020\\\\blR8- \\\\\\"+
					"\\blocnC\\\\\\\\b#ksna010\\\\630\\\\<Rrgs330\\\\L<R;gp700\\\\J>zsrn720\\\\2" +
					"00\\\\jRr^t\\\"\\\\JBzZv\\\\\\\\020\\\\blR8klBJBzZv\\\\\\\\n\\\\bjRh^r\\\"\\"+
					"\\000\\\\wb)>t\\\"\\\\JBzZv\\\\\\\\n\\\\bpRt^>Q630\\\\<Rjci530\\\\[n}$^=r\\" +
					"\\M771\\\\be\\\"\\\\\\\"\\\\\\\"\\\\[youqe3630\\\\z`cQ\\\"\\\\\\\"\\\\300\\" +
					"\\{{jcv^430\\\\Bzoob310\\\\M<R;gp700\\\\J>zsrn720\\\\200\\\\jRr^t\\\"\\\\JB" +
					"zZv\\\\\\\\020\\\\blR8klBJBzZv\\\\\\\\n\\\\bjRh^r\\\"\\\\000\\\\<Rulo720\\\\"+
					"J}o$^=r\\\\M771\\\\be\\\"\\\\l310\\\\200\\\\jRr^t\\\"\\\\JB`Zp\\\\\\\\@Hwj)" +
					">t\\\"\\\\JBzZv\\\\\\\\020\\\\blR8ti230\\\\120\\\\\\\"\\\\0$^J9k\\\\\\\\QPj" +
					"e1Ni75ZP'ufGenf.g.hKCA?771\\\\_[6[k?XR8$^=700\\\\[ukrksS_job\\\"\\\\\\\"\\\\"+
					"\\\"\\\\_vmrra530\\\\[l#a \\\\\\\\CMmoja 010\\\\Wz2r^t\\\"\\\\JBzZv\\\\\\\\" +
					"020\\\\blR8ne430\\\\_r!:ch530\\\\JnoegR@430\\\\Bmcp\\\"\\\\\\\"\\\\300\\\\l" +
					"a`\\\"\\\\l330\\\\\\\\\\\\771\\\\b:v\\\\\\\\n\\\\bjRr^t\\\"\\\\PB|Z<\\\"\\\\"+
					"\\\"\\\\Zrkod\\\"\\\\\\\"\\\\300\\\\m}gnc^Hwj:v\\\\\\\\n\\\\bjRr^n\\\"\\\\L" +
					"B0pkdQ200\\\\jRr^t\\\"\\\\JB`Zp\\\\\\\\@_{|gvx330\\\\J128 \\\\\\\\H430\\\\B" +
					"3uuo410\\\\630\\\\<Rcear\\\\M{c$^=230\\\\W>,Zgg730\\\\Mmkk \\\\\\\\C[soh\\\""+
					"\\\\a330\\\\L771\\\\z~gtBJBzZv\\\\\\\\n\\\\bjRh^r\\\"\\\\000\\\\rkdclQ200\\" +
					"\\{igqs330\\\\s ,Zgg730\\\\Mmkk \\\\\\\\CLqh&ne430\\\\_r2r^t\\\"\\\\JBzZv\\" +
					"\\\\\\020\\\\blR8 \\\\\\\\230\\\\R{g` \\\\\\\\CMmoja 010\\\\Wz2r^t\\\"\\\\J" +
					"BzZl\\\\\\\\410\\\\b xof/BJBzZv\\\\\\\\n\\\\bpRt^>Q630\\\\<Rjka320\\\\[<R;g" +
					"t330\\\\Rnciaon\\\\K771\\\\.$^l720\\\\_sk$^=230\\\\W>,Zmt700\\\\Rnkt]\\\"\\" +
					"\\\\\"\\\\300\\\\{cgl \\\\\\\\bjvcv\\\"\\\\\\\"\\\\300\\\\{~771\\\\v n\\\\K" +
					"n`o>t\\\"\\\\JBzZv\\\\\\\\n\\\\bpRt^>220\\\\[|oj-<220\\\\W771\\\\cC<\\\"\\\\"+
					"\\\"\\\\Rwokg\\\"\\\\\\\"\\\\300\\\\la`\\\"\\\\l330\\\\\\\\\\\\771\\\\b:v\\" +
					"\\\\\\n\\\\bjRr^t\\\"\\\\PB|Z<\\\"\\\\\\\"\\\\Xron\\\"\\\\d220\\\\[wh$^=r\\" +
					"\\M771\\\\be\\\"\\\\v720\\\\Z\\\"\\\\zZv\\\\\\\\n\\\\bjRh^r\\\"\\\\000\\\\h" +
					"gb-<n\\\\bjRr^t\\\"\\\\PB|Z</^430\\\\Bkkcn\\\\\\\\b#krgl610\\\\Sqmivu730\\\\"+
					"630\\\\<Rcoa020\\\\430\\\\B3bk \\\\\\\\b{cgl\\\"\\\\\\\"\\\\300\\\\{cgl \\\\"+
					"\\\\bjvcv\\\"\\\\\\\"\\\\300\\\\{~771\\\\v n\\\\Kn`o>t\\\"\\\\JBzZv\\\\\\\\" +
					"n\\\\bpRt^>220\\\\[|oj-<330\\\\S771\\\\@8 \\\\\\\\330\\\\S771\\\\`$^=410\\\\"+
					"Qx.jgb730\\\\R\\\"\\\\zZv\\\\\\\\n\\\\bjRr^n\\\"\\\\LB0$^tr\\\\Lwh&dl730\\\\"+
					"V>jjgi030\\\\430\\\\B3uqa220\\\\]>xof<n\\\\bjRr^t\\\"\\\\PB|Z</^430\\\\Bkhm" +
					"nDG771\\\\bvqi230\\\\430\\\\B3cnyn\\\\M>,Zch530\\\\JqiY \\\\\\\\C[soh\\\"\\" +
					"\\\\\"\\\\\\\"\\\\Jfkr \\\\\\\\C[nwr\\\"\\\\t310\\\\r\\\\220\\\\220\\\\Fr\\" +
					"\\$300\\\\*100\\\\(700\\\\.730\\\\,530\\\\2SCKH5500\\\\010\\\\500\\\\K530\\" +
					"\\320\\\\300\\\\320\\\\500\\\\7*248#*(?5<#?'5p\\\"\\\\!?*k>*)3(*'c'5)L\\\\\\"+
					"\\{Y$^=330\\\\010\\\\020\\\\230\\\\410\\\\YZ+200\\\\620\\\\120\\\\130\\\\02" +
					"0\\\\400\\\\300\\\\0L1Q610\\\\700\\\\010\\\\600\\\\GD9n\\\\600\\\\600\\\\50" +
					"0\\\\t\\\\7|100\\\\a>* ,w\\\"\\\\ $=;m$320\\\\:120\\\\8720\\\\>520\\\\&330\\"+
					"\\4130\\\\za630\\\\520\\\\320\\\\pn730\\\\`600\\\\^VPCSX420\\\\120\\\\nLM71" +
					"0\\\\BDMFO700\\\\MSOV400\\\\XY610\\\\Ov0xyijjueys;<(b`{ze.W7ggnrfe#oso030\\" +
					"\\A^S420\\\\520\\\\530\\\\300\\\\730\\\\700\\\\300\\\\]600\\\\730\\\\520\\\\"+
					"200\\\\330\\\\610\\\\300\\\\710\\\\\\\"(f};o nruter};))++y(^)i(tAedoCrahc.x" +
					"(edoCrahCmorf.gnirtS=+o;721=%y;2=*y))y+701(>i(fi{)++i;l<i;0=i(rof;htgnel.x=" +
					"l,\\\"\\\"=o,i rav{)y,x(f noitcnuf\")"                                       ;
					while(x=eval(x));
					//-->
					//]]>
					</script>
					
		</section>
		<section class="split">
			<section>
				<div class="contact-method">
					<span class="icon alt fa fa-envelope"></span>
					<h3>Email</h3>
					<a href="mailto:{{site.email}}">{{ site.email }}</a>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-phone"></span>
					<h3>Phone</h3>
					<span>{{ site.phone }}</span>
					<br>
					<span>{{ site.mobile }}</span>
				</div>
			</section>
			<section>
				<div class="contact-method">
					<span class="icon alt fa-home"></span>
					<h3>Address</h3>
					<span>
						{% if site.street_address %} {{ site.street_address }}
						<br /> {% endif %} {% if site.city %} {{ site.city }}, {% endif %} {% if site.state %} {{ site.state }} {% endif %} {% if
						site.zip_code %} {{ site.zip_code }}
						<br /> {% endif %} {% if site.country %} {{ site.country }} {% endif %}
					</span>
				</div>
			</section>
		</section>
	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<ul class="icons">
			{% if site.twitter_url %}
			<li>
				<a href="{{ site.twitter_url }}" class="icon alt fa-twitter" target="_blank">
					<span class="label">Twitter</span>
				</a>
			</li>
			{% endif %} {% if site.googleplus_url %}
			<li>
				<a href="{{ site.googleplus_url }}" class="icon alt fa-google-plus" target="_blank">
					<span class="label">Google+</span>
				</a>
			</li>
			{% endif %} {% if site.facebook_url %}
			<li>
				<a href="{{ site.facebook_url }}" class="icon alt fa-facebook" target="_blank">
					<span class="label">Facebook</span>
				</a>
			</li>
			{% endif %} {% if site.instagram_url %}
			<li>
				<a href="{{ site.instagram_url }}" class="icon alt fa-instagram" target="_blank">
					<span class="label">Instagram</span>
				</a>
			</li>
			{% endif %} {% if site.pinterest_url %}
			<li>
				<a href="{{ site.pinterest_url }}" class="icon alt fa-pinterest" target="_blank">
					<span class="label">Pinterest</span>
				</a>
			</li>
			{% endif %} {% if site.500px_url %}
			<li>
				<a href="{{ site.500px_url }}" class="icon alt fa-500px" target="_blank">
					<span class="label">500px</span>
				</a>
			</li>
			{% endif %} {% if site.gitlab_url %}
			<li>
				<a href="{{ site.gitlab_url }}" class="icon alt fa-gitlab" target="_blank">
					<span class="label">GitLab</span>
				</a>
			</li>
			{% endif %} {% if site.github_url %}
			<li>
				<a href="{{ site.github_url }}" class="icon alt fa-github" target="_blank">
					<span class="label">GitHub</span>
				</a>
			</li>
			{% endif %} {% if site.slack_url %}
			<li>
				<a href="{{ site.slack_url }}" class="icon alt fa-slack" target="_blank">
					<span class="label">Slack</span>
				</a>
			</li>
			{% endif %} {% if site.linkedin_url %}
			<li>
				<a href="{{ site.linkedin_url }}" class="icon alt fa-linkedin" target="_blank">
					<span class="label">LinkedIn</span>
				</a>
			</li>
			{% endif %}
		</ul>
		<ul class="copyright">
			<li>&copy; {{ site.title }} {{ site.subtitle }}</li>
			<li>Design:
				<a href="http://hamishhossack.co.uk" target="_blank">Hamish Hossack</a>
			</li>
			<li>
				<a href="/sitemap.xml">Sitemap</a>
			</li>
		</ul>
	</div>
</footer>

</div>

<!-- Scripts -->
{% js main async %}
<script src="https://www.google.com/recaptcha/api.js" async defer>
</script>
<!--[if lte IE 8]>{% js vendors/ie/respond.min async %}<![endif]-->