/* Contact */

	#contact {
		border-bottom: solid 1px _palette(border);
		overflow-x: hidden;

		> .inner {
			@include vendor('display', 'flex');
			padding: 0 !important;

			> section {
				padding: 4em 0;
				width: 60%;
			}
		}

		@include breakpoint(medium) {
			> .inner {
				display: block;

				> section {
					width: 100%;
				}
			}
		}

		@include breakpoint(small) {
			> .inner {
				> section {
					padding: 3em 0;
				}
			}
		}
	}
